<div class="bottom-menu bottom-menu-inverse">
  <div class="container">
    <div class="row">
      <div class="btm">
      <a href="{{ siteUrl }}blog" target="_blank">Read our blog</a>, <a href="mailto:blair@everlearning.com.au" target="_blank">ask us a question</a> or follow us on <a href="http://twitter.com/everlearningnow" target="_blank">Twitter</a> and <a href="http://linkedin.com/company/ever-learning" target="_blank">LinkedIn</a>.
      </div>
      <div class="btm">&copy; 2012-{{ now.year }} Ever Learning.</div>
      
      
    </div>
  </div>
</div> <!-- /bottom-menu -->