<!-- top row of five icons -->
<div class="col-xs-12 col-md-10 col-md-offset-1" style="margin-top: 90px; margin-bottom: 90px;">
  <ul class="gridstyle">
    <li><a href="{{ siteUrl }}academy/skills/stories"><img src="{{ siteUrl }}ficons/s/book.svg" alt="book icon" class="img-responsive center-block"><p>Stories</p></a>
    </li>
    <li><a href="{{ siteUrl }}academy/skills/pictures"><img src="{{ siteUrl }}ficons/s/picture.svg" alt="picture icon" class="img-responsive center-block"><p>Pictures</p></a>
    </li>
    <li><a href="{{ siteUrl }}academy/skills/games"><img src="{{ siteUrl }}ficons/s/play.svg" alt="play icon" class="img-responsive center-block"><p>Games</p></a>
    </li>
    <li><a href="{{ siteUrl }}academy/skills/technology"><img src="{{ siteUrl }}ficons/s/pc.svg" alt="pc icon" class="img-responsive center-block"><p>Technology</p></a>
    </li>
    <li><a href="{{ siteUrl }}academy/skills/design-thinking"><img src="{{ siteUrl }}ficons/s/girl.svg" alt="girl icon" class="img-responsive center-block"><p>Design thinking</p></a>
    </li>
  </ul>
</div><!--/five icons -->
