<!-- top row of five icons -->
<div class="col-xs-12 col-md-10 col-md-offset-1" style="margin-top: 90px; margin-bottom: 90px;">
  <ul class="gridstyle">
    <li><img src="{{ siteUrl }}ficons/s/book.svg" alt="book icon" class="img-responsive center-block"><p><a href="{{ siteUrl }}academy/skills/stories">Stories</a></p>
    </li>
    <li><img src="{{ siteUrl }}ficons/s/picture.svg" alt="picture icon" class="img-responsive center-block"><p><a href="{{ siteUrl }}academy/skills/pictures">Pictures</a></p>
    </li>
    <li><img src="{{ siteUrl }}ficons/s/play.svg" alt="play icon" class="img-responsive center-block"><p><a href="{{ siteUrl }}academy/skills/games">Games</a></p>
    </li>
    <li><img src="{{ siteUrl }}ficons/s/pc.svg" alt="pc icon" class="img-responsive center-block"><p><a href="{{ siteUrl }}academy/skills/digital-technology">Digital technology</a></p>
    </li>
    <li class="last-gridstyle"><img src="{{ siteUrl }}ficons/s/girl.svg" alt="girl icon" class="img-responsive center-block"><p><a href="{{ siteUrl }}academy/skills/design-thinking">Design thinking</a></p>
    </li>
  </ul>
</div><!--/five icons -->
