	<div class="row elbg" style="padding-top: 90px; padding-bottom: 90px;">
		<div class="col-md-8 col-md-offset-2">
			<div class="col-sm-6" style="text-align: center; margin-bottom: 30px;">
				<img src="{{ siteUrl }}ficons/s/pencils.svg" alt="pencils icon" width="250px;">
			</div>
			<div class="col-sm-6">
				<h4>Learn creative instructional design skills</h4>
				<p>We'll show you how to use stories, pictures, games, digital technology, and design thinking to build instructional products that learners love to use.</p>
				<p style="margin-top: 30px;"><a href="{{ siteUrl }}academy" class="btn btn-lg btn-danger">Yes, upgrade my brain</a></p>
			</div>
		</div>
	</div>
