<div class="row elbg" style="padding-bottom: 90px;" id="freeLessons">
	<div class="col-sm-12" style="text-align: center; padding-top: 90px; margin-bottom: 30px;">
		<img src="{{ siteUrl }}ficons/s/pencil.svg" alt="pencil icon" width="100px;">
				<p class="lead" style="margin-top: 30px; margin-bottom: 0;">Get started learning about creative instructional design with our</p>
		<h3 style="margin-top: 10px;">Free weekly lessons</h3>
	</div>
<!-- mailchimp -->
<div class="el-dialog demo-dialog" id="mc_embed_signup">
	<form action="//everlearning.us8.list-manage.com/subscribe/post?u=2f1e2a6882720eb32815e0e74&amp;id=e5faa40c8f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>

		<div class="form-group">
			<label class="sr-only" for="mce-FNAME">Your first name<span class="asterisk">*</span></label>
			<input type="text" value="" name="FNAME" class="required form-control flat" id="mce-YOURNAME" placeholder="Your first name">
		</div>

		<div class="form-group spaced-form">
			<label class="sr-only" for="mce-EMAIL">Your email address<span class="asterisk">*</span></label>
			<input type="email" value="" name="EMAIL" class="required email form-control flat" id="mce-EMAIL" placeholder="Your email">
		</div>

		<button class="btn btn-danger btn-wide spaced-form" id="mc-embedded-subscribe">Send me lessons</button>

		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    <div style="position: absolute; left: -5000px;">
	    	<input type="text" name="b_2f1e2a6882720eb32815e0e74_e5faa40c8f" tabindex="-1" value="">
	    </div>
	</form>
</div>

<!-- /mailchimp -->
</div>
