<nav class="navbar navbar-blog navbar-lg navbar-static-top" role="navigation">
	<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="{{ siteUrl }}" style="margin-top: -5px;">
   <img src="{{ siteUrl }}ever-learning-logo-for-web.png" alt="Ever Learning logo" class="img-logo img-responsive" title="Go to home page"></a>
  </div>
  <div class="collapse navbar-collapse navbar-right" id="navbar-collapse-01" style="margin-right: 30px;">
    <ul class="nav navbar-nav">
      <li><a href="{{ siteUrl }}communication">Communication</a></li>
      <li><a href="{{ siteUrl }}training">Training</a></li>
       <li><a href="{{ siteUrl }}academy">Academy</a></li>

      <!--<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Academy <b class="caret"></b></a>
        <span class="dropdown-arrow"></span>
        <ul class="dropdown-menu">
          <li><a href="{{ siteUrl }}academy">Start here</a></li>
          <li><a href="{{ siteUrl }}academy/lessons">Lessons</a></li>
        </ul>
      </li>-->
      <button class="btn btn-info navbar-left" type="button" onclick="window.location.href='mailto:blair@everlearning.com.au'" style="margin-top: 15px; margin-left: 15px;">Talk to us</button>
    </ul>

    <!--<form class="navbar-form navbar-right" action="#" role="search">
    	<div class="form-group">
      	<div class="input-group">
					<input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
					<span class="input-group-btn">
						<button type="submit" class="btn"><span class="fui-search"></span></button>
					</span>
				</div>
    	</div>
    </form>-->
  </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->
