{% extends "_layout" %}
{% set title = "Engaging communication" %}

{% block content %}

	<div class="row row-top">
		<div class="col-sm-8 col-sm-offset-2">
		<img src="{{ siteUrl }}/ficons/s/dude.svg" alt="dude icon" width="250px">
		<h1 class="hidden-xs">Make your communication more engaging</h1>
		<h4 class="visible-xs">Make your communication more engaging</h4>
			<p class="lead">Make people aware of what's changing and why, then explain what it means for them.</p>
		</div>
	</div><!-- /row-headings -->

	<div class="row tan">
		<div class="col-sm-10 col-sm-offset-1">
		<div class="col-sm-12" style="text-align: center; margin-bottom: 90px; padding-top: 90px;">
			<p class="lead" style="margin-bottom: 0;">Here's a taste of</p>
			<h3 style="margin-top: 10px;">What we can build for you</h3>
		</div>
			<div class="col-sm-6 col-md-5" style="margin-bottom: 60px;">
				<img src="{{ siteUrl }}/ficons/s/box.svg" alt="rocket icon" height="100px">
				<h4>Icons</h4>
				<p>Create a shared visual language for your team and your stakeholders. Use simple icons to represent people, places, concepts and things from your project. Reuse them in documents, emails, slides, intranets, desktop wallpapers, websites, on posters or on mouse pads.</p>

			</div>
			<div class="col-sm-6 col-md-5 col-md-offset-2" style="margin-bottom: 60px;">
				<img src="{{ siteUrl }}/ficons/s/brush.svg" alt="rocket icon" height="100px">
				<h4>Visual slide packs</h4>
				<p>Your audience can only do one thing at a time: listen or read. Wordy slides are hurting your message (and people's brains). Transform your slides into simple, clear, visuals that compliment what you've got to say and really show people what you mean.</p>
			</div>
		</div>
		</div>
		<div class="row tan">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="col-sm-6 col-md-5" style="margin-bottom: 60px;">
				<img src="{{ siteUrl }}/ficons/s/video.svg" alt="rocket icon" height="100px">
				<h4>Animated videos</h4>
				<p>Tell the story of your case for change, your new vision, strategy, product, or business process, in a fun and memorable way. Cut through the clutter of verbal information and produce a short animation to share your key messages.</p>
			</div>
			<div class="col-sm-6 col-md-5 col-md-offset-2" style="margin-bottom: 60px;">
				<img src="{{ siteUrl }}/ficons/s/map.svg" alt="rocket icon" height="100px">
				<h4>Infographics</h4>
				<p>Clearly communicate complex information, what a 'day in the life' of a new role looks like or how a change will be rolled out. Emails and briefings are easily lost, forgotten, or both. Make information visual with infographics that make important information easier to digest.</p>
			</div>
			</div>
		</div>

		<!--<div class="row" style="background-color: #293a4a; padding-top: 90px; padding-bottom: 60px; color: #fff; margin-bottom: 90px;">
			<div class="col-sm-10 col-sm-offset-1" style="text-align: center;">
				<p class="lead" style="margin-bottom: 0;">Check out some</p>
				<h3 style="margin-top: 10px;">Example projects</h3>
			</div>
		</div>-->
		<div class="row" style="padding-top: 90px; margin-bottom: 90px;">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" style="text-align: center;">
				<img src="{{ siteUrl }}/ficons/s/dude.svg" alt="rocket icon" width="100px;">
				<p class="lead" style="margin-top: 30px; margin-bottom: 0;">Talk about our</p>
				<h3 style="margin-top: 10px;">Creative instructional design services</h3>
				<p>Shoot us an email. We'll arrange to talk about your project in person or on the phone and deliver a proposal within five business days or less.</p>
				<p><a href="mailto:blair@everlearning.com.au" class="btn btn-lg btn-primary btn-embossed">I want my comms to really pop!</a></p>
			</div>
		</div>
{% endblock %}
