{% extends "_layout" %}
{% set title = "Effective training" %}

{% block content %}
	<div class="row row-top">
		<div class="col-sm-8 col-sm-offset-2">
		<img src="{{ siteUrl }}ficons/s/responsive.svg" alt="responsive icon" width="250px">
		<h2 class="hidden-xs">Make your training more effective</h2>
		<h4 class="visible-xs">Make your training more effective</h4>
			<p class="lead">Give people the knowledge, skills and support they need to implement change.</p>
		</div>
	</div><!-- /row-headings -->

	<div class="row tan">
		<div class="col-md-8 col-md-offset-2">
			<div style="text-align: center; margin-bottom: 90px; padding-top: 90px;">
				<p class="lead" style="margin-bottom: 0;">Take a look at</p>
				<h3 style="margin-top: 10px;">What we can build for you</h3>
			</div>

			<div class="col-sm-6 col-md-5" style="margin-bottom: 60px;">
				<img src="{{ siteUrl }}ficons/s/rocket.svg" alt="rocket icon" height="100px">
				<h4>Learning pathways</h4>
				<p>A game with one level would be boring; right? Help people stay motivated to learn. Define business goals, identify the skill set people need to achieve the goal, and map their pathway from beginner to expert.</p>
			</div>

			<div class="col-sm-6 col-md-5 col-md-offset-2" style="margin-bottom: 60px;">
				<img src="{{ siteUrl }}ficons/s/flag.svg" alt="flag icon" height="100px">
				<h4>Learning by doing</h4>
				<p>Design challenges that allow people to increase their skill level through practice and feedback. Get them to produce real outputs, just like in real life. Present these challenges as an elearning module, a facilitated workshop, or a webinar.</p>
			</div>

		</div>
	</div>
	<div class="row tan">
		<div class="col-md-8 col-md-offset-2">
			<div class="col-sm-6 col-md-5" style="margin-bottom: 60px;">
				<img src="{{ siteUrl }}ficons/s/bag.svg" alt="bag icon" height="100px">
				<h4>Self-help resources</h4>
				<p>Important information should be at everyone's fingertips so they can help themselves. Create highly visual step-by-step instructions, getting started and quick reference guides, screencasts, knowledge bases, and other handy job aids.</p>
			</div>
			<div class="col-sm-6 col-md-5 col-md-offset-2" style="margin-bottom: 60px;">
				<img src="{{ siteUrl }}ficons/s/chat.svg" alt="chat icon" height="100px">
				<h4>Communities of practice</h4>
				<p>People have always learnt from each other through mentoring and coaching. Connect people with the knowledge and experience of experts by creating a community of practice. Make it easy for them to share feedback, answers and ideas using digital technology.</p>
			</div>
		</div>
	</div>

		<div class="row" style="padding-top: 90px; margin-bottom: 90px;">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" style="text-align: center;">
				<img src="{{ siteUrl }}ficons/s/dude.svg" alt="rocket icon" width="100px;">
				<p class="lead" style="margin-top: 30px; margin-bottom: 0;">Talk about our</p>
				<h3 style="margin-top: 10px;">Creative instructional design services</h3>
				<p>Shoot us an email. We'll arrange to talk about your project in person or on the phone and deliver a proposal within five business days or less.</p>
				<p><a href="mailto:blair@everlearning.com.au" class="btn btn-lg btn-primary btn-embossed">I want to jazz up my training</a></p>
			</div>
		</div>
{% endblock %}
