{% extends "_layout-academy" %}
{% set title = "Learn creative instructional design skills" %}

{% block content %}
<div class="row row-top row-inverse">
  <div class="col-md-8 col-md-offset-2">
    <div style="text-align: center;">
      <h2 class="hidden-xs">Creative instructional design skills</h2>
      <h3 class="visible-xs">Creative instructional design skills</h3>
      <!--<p class="lead">To communicate and train in the new world of work you&#8217;ll need a whole new set of skills.</p>-->
    </div>
  </div>
</div>
<div class="row tan">
  <div class="col-sm-6 col-sm-offset-3">
    <div style="text-align: center; margin-bottom: 90px; padding-top: 90px;">
      <h3 style="margin-top: 0px;">Stories</h3>
      <p class="lead">Words and numbers on their own can be boring. You can add context and meaning to information using the power of stories.</p>
      <div style="margin: 60px 0;"><img src="{{ siteUrl }}ficons/s/book.svg" alt="book icon" width="200px" class="img-responsive center-block"></div>
      <p>Learn why you should use stories, the three types of stories for business people, how to gather facts and figures and how to structure your story.</p>
      <p>Start by signing up for our <a href="{{ siteUrl }}academy/#freeLessons">free weekly lessons</a>.</p>


    {% include "includes/_five-icons.html" %}

    </div>
  </div>
</div>

{% endblock %}
