{% extends "_layout-academy" %}
{% set title = "Free creative instructional design lessons" %}
{% set thisSubnav = "latest" %}

{% block content %}

	<div class="row row-top row-top-left row-inverse">
		<div class="col-sm-8 col-sm-offset-2">
						{% include "includes/_lessons-subnav.html" %}

<img src="{{ siteUrl }}ficons/s/pencil.svg" alt="pencil icon" class="top-icon top-icon-small">
			<h2 class="hidden-xs">Creative instructional design lessons</h2>
			<h3 class="visible-xs">Creative instructional design lessons</h3>
			<p class="lead">Delivered to your inbox weekly.</p>
		</div>
	</div><!-- /row-headings -->

	{% for entry in craft.entries.section('lessons').limit('1') %}

	<div class="row row-middle">
		<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			<article>
				<div class="double-heading">
					<p class="lead">This week's lesson</p>
					<h3><a href="{{ entry.url }}#continue">{{ entry.title }}</a></h3>
				</div><!-- /double-heading -->
				{{ entry.body }}
			</article>
		</div>
	</div>
	{% endfor %}

	<div class="row row-middle tan">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="double-heading" style="margin-bottom: 0 !important;">
				<h3>Next week's lesson</h3>
				<p class="lead">Lesson 10: Choosing the right technology</p>
				<div style="margin-top: 60px;"><img src="{{ siteUrl }}ficons/s/pc.svg" alt="pc icon" width="200px" class="img-responsive center-block"></div>
			</div>
		</div>
	</div>

  	{% include "includes/_free-lessons-signup.html" %}

{% endblock %}
