{% extends "_layout-academy" %}
{% set title = "All signed up for free creative instructional design lessons" %}

{% block content %}
	<div class="row" style="padding-top: 90px; margin-bottom: 90px; min-height: 640px;">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" style="text-align: center;">
			<img src="{{ siteUrl }}/ficons/s/pencil.svg" alt="pencil icon" width="100px;">
			<p class="lead" style="margin-top: 30px; margin-bottom: 0;">Good news</p>
			<h3 style="margin-top: 10px;">You're all signed up</h3>	
			<p>Now on with the learning.</p>
			<p><a href="{{ siteUrl }}academy/lessons" class="btn btn-lg btn-primary btn-embossed">Check out the latest lesson</a></p>
		</div>
	</div>	
{% endblock %}
