{% extends "_layout-academy" %}
{% set title = "Almost finished signing up for free creative instructional design lessons" %}

{% block content %}
<div class="row" style="padding-top: 90px; margin-bottom: 90px; min-height: 640px;">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<div style="text-align: center; margin-bottom: 90px">
			<img src="{{ siteUrl }}/images/icons/pencil.svg" alt="pencil icon" style="min-height: 100px;">
			<p class="lead" style="margin-top: 30px; margin-bottom: 0;">Almost finished</p>
			<h3 style="margin-top: 10px;">We just need to confirm your email address</h3>
		</div>
		<div class="col-sm-8 col-sm-offset-2">
			<p><strong>To finish signing up:</strong> go to your inbox now and click the link in the email we just sent you.</p>
			<p>Then, almost like magic, your browser (probably Internet Explorer) will open and you'll see a confirmation message.</p>
			<p>
			<strong>Ever Learning</strong><br>
			PO Box 302<br>
			West Pennant Hills Post Office<br>
			West Pennant Hills, NSW 2125<br>
			Australia
			</p>
			<p><a href="http://everlearning.us8.list-manage.com/vcard?u=2f1e2a6882720eb32815e0e74&amp;id=e5faa40c8f" class="hcard-download">Add us to your address book</a> (and everybody will like you).</p>
		</div>
	</div>
</div>		

{% endblock %}
