{% extends "_layout-academy" %}
{% set title = "Learn creative instructional design skills" %}

{% block content %}
<div class="row row-top row-inverse">
	<div class="col-md-8 col-md-offset-2">
		<div style="text-align: center;">
			<img src="{{ siteUrl }}ficons/s/pencils.svg" alt="pencils icon" width="250px">
			<h2 class="hidden-xs">Learn creative instructional design</h2>
			<h3 class="visible-xs">Learn creative instructional design</h3>
			<p class="lead">To communicate and train in the new world of work you&#8217;ll need a whole new set of skills.</p>
		</div>
	</div>
</div>
<div class="row tan">
	<div class="col-md-8 col-md-offset-2">
		<div class="col-sm-12" style="text-align: center; margin-bottom: 30px; padding-top: 90px;">
			<p class="lead" style="margin-bottom: 0;">We call this skill set</p>
			<h3 style="margin-top: 10px;">Creative instructional design</h3>
		</div>
		<div class="col-sm-8 col-sm-offset-2" style="margin-bottom: 30px; text-align: center;">
			<p>Learn principles and methodologies for building instructional products that learners love to use.</p>
		</div>

		{% include "includes/_five-icons.html" %}

	</div>
</div>

{% include "includes/_free-lessons-signup.html" %}

{% endblock %}
