{% extends "_layout-academy" %}
{% set title = "Creative instructional design lessons and courses" %}

{% block content %}
<div class="row row-top row-inverse">
	<div class="col-md-8 col-md-offset-2">
		<div style="text-align: center;">
			<img src="{{ siteUrl }}ficons/s/pencils.svg" alt="pencils icon" width="200px">
			<h2 class="hidden-xs">Learn creative instructional design</h2>
			<h3 class="visible-xs">Learn creative instructional design</h3>
			<p class="lead">Principles and methods for building instructional products that businesses need and learners love.</p>
		</div>
	</div>
</div>

{% include "includes/_free-lessons-signup.html" %}

<!-- curriculum block -->
<div class="row tan">
	<div class="col-md-8 col-md-offset-2">
		<div class="col-sm-12" style="text-align: center; padding-top: 90px;">
			<h3 style="margin-top: 10px;">Our creative instructional design curriculum</h3>
			<p class="lead">You'll need a new set of skills to communicate and train in the new world of work.<p>
		</div>

		{% include "includes/_five-icons.html" %}

	</div>
</div>


{% endblock %}
