{#
 # 404 template
 # ------------
 #
 # This template is loaded whenever Craft cannot figure out how to
 # respond to an incoming request. No setup is involved to get your
 # 404 page working; you just need to call it 404.html and put it
 # at the root of your craft/templates/ folder.
 #
 # You can also create 400.html, 403.html, 500.html, and 503.html
 # templates if you’d like. If Craft can’t find an error template
 # to match the error code, it will just use the one in
 # craft/app/templates/ instead.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "404" %}

{% block content %}

	<div class="row" style="padding-top: 90px; margin-bottom: 90px; min-height: 640px;">
		<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" style="text-align: center;">
			<img src="{{ siteUrl }}/ficons/s/eye.svg" alt="eye icon" width="250px;">
			<p class="lead" style="margin-top: 30px; margin-bottom: 0;">Oh no!</p>
			<h3 style="margin-top: 10px;">We couldn't find that page</h3>
			<p>Sorry guys.</p>
      <p>Send us an <a href="mailto:blair@everlearning.com.au">email</a> or a <a href="http://twitter.com/everlearningnow">tweet</a> if you're stuck (or just want to vent some rage).</p>
      <p>Or you can take some deep breaths and try starting again from the <a href="{{ siteUrl }}">home page</a>.</p>
		</div>
	</div>

{% endblock %}
